<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.book.dao.BoardDAO">
   <insert parameterType="kr.com.book.domain.Board" id="create">
	   INSERT INTO board(    bno 
	   					      , title
	   					      , content 
	   					      , writer
	   					      , regdate
	   					      , viewcnt  )
	                 VALUES(    #{bno} 
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}
	                 		  , #{regdate}
	                 		  , #{viewcnt}  )
   
   </insert>
   
   <select id="list" resultType="kr.com.book.domain.Board">
		SELECT   bno
			   , title
			   , content
			   , writer
			   , regdate
			   , viewcnt
		  FROM board
		  ORDER BY BNO DESC
	</select>
	
	<select id="read" parameterType="int" resultType="kr.com.book.domain.Board">
		SELECT	bno
			   , title
			   , content
			   , writer
			   , regdate
			   , viewcnt
		 FROM board
		 WHERE bno = #{bno}
	</select>
	
	<update id="update" parameterType="kr.com.book.domain.Board">
		UPDATE board
		   SET title    =   #{title},
		   	   content  =   #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM board
		WHERE BNO = #{bno}
	</delete>
</mapper>