<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.book.dao.MemberDAO">
	<!-- 회원가입 -->
	<insert id="register">
	    INSERT INTO board_member(     userid 
	   					       		, userpass 
	   					      		, username 	)
	                  		VALUES(   #{userid} 
	                 		   		, #{userpass}
	                 		 		, #{username})
    </insert>
    
    <!-- 로그인 -->
	<select id="login" resultType="kr.com.book.domain.Member">
		SELECT userid, userpass 
		  FROM board_member
		 WHERE userid = #{userid}
		   AND userpass = #{userpass}   
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		UPDATE board_member SET 
		userpass = #{userpass},
		username = #{username}
		WHERE userid = #{userid}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM board_member
		WHERE userid = #{userid}
		  AND userpass = #{userpass} 
	</delete>
	
	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int">
		SELECT COUNT(*) 
		FROM board_member
		WHERE userid = #{userid}
		  AND userpass = #{userpass}
	</select>
	
</mapper>