<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

	<select id="read" parameterType="int" resultType="kr.com.book.domain.Reply">
		 SELECT	rno
			   , content
			   , writer
			   , regdate
		 FROM reply
		 WHERE bno = #{bno}
	</select>
	
	<insert id="writeReply">
	    INSERT INTO reply(    rno
	   						, bno
			   				, content
			   				, writer  )
	                VALUES(    #{rno}
	                 	  	, #{bno} 
	                 	  	, #{content}
	                 	  	, #{writer}  )
	</insert>

	<update parameterType="kr.com.book.domain.Reply" id="updateReply">
		UPDATE reply SET content = #{content}
						, where rno = #{rno}
	</update>

	<delete parameterType="kr.com.book.domain.Reply" id="deleteReply">
		DELETE FROM reply where and rno = #{rno} 
	</delete>
	
	<select id="selectReply" resultType="kr.com.book.domain.Reply">
		SELECT
				rno
			  , bno
			  , content
			  , writer
			  , regdate
		  FROM reply
		 WHERE rno = #{rno}
	</select>
	
</mapper>